<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.arch.touch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:label="Touch"
        android:icon="@drawable/touch"
        android:roundIcon="@drawable/touch"
        android:allowBackup="true" >
        <activity
            android:name=".LaunchActivity"
            android:windowSoftInputMode="stateVisible"
            android:theme="@android:style/Theme.Material"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>